<h1>Hi {{currentUser.firstName}}!</h1>

<ng-container *ngIf="links">
    <h3>Your links : </h3>
    <ul>
        <li *ngFor="let link of links">
            {{link.url}} - <a (click)="deleteLink(link.id)" class="text-danger">Delete</a>
            <ul>
                <li *ngFor="let tag of link.tags" style="display:inline; padding: 5px;">
                    <span class="badge badge-info" style="padding-right: 10px">{{tag}}</span>
                </li>
            </ul>
        </li>
    </ul>
</ng-container>


<div class="col-lg-6">
    <h2>Add new link </h2>
    <br />
    <div class="input-group btn-group-3">
        <input [(ngModel)]="linkurl" type="text" class="form-control" placeholder="Add link ...">
        <div class="btn btn-light" style="display: inline-block;" (click)="getTagsForLink()">
            <div *ngIf="getTagsForLinkLoading" class="loader" style="display: inline-block;"></div> <span
                style="display: inline-block;">{{ getTagsForLinkButtonText }}</span>
        </div>
        <br />
        <br />
    </div>
    <tag-input [(ngModel)]='linkTags' class="ng-tns-c1-1 ng-pristine ng-valid ng-touched"></tag-input>
    <br />
    <br />
    <ng-container *ngIf="analysisTags">
        Suggested tags :
        <tag-input [(ngModel)]='linkTags' theme='bootstrap3-info' class="ng-tns-c1-1 ng-pristine ng-valid ng-touched">
        </tag-input>
    </ng-container>

    <button type="button" class="btn btn-info" (click)="addLink()">Add Link</button>
</div>